@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .forms{
    padding: 30px;

}

.container .forms .title{
    font-size: 27px;
    position: relative;
    font-weight: 600;
    
}

.forms .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
    text-align: center;
}

.forms .input-field{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    position: relative;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
   
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}
.input-field i.icon{
    left: 0;

}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;

}

.forms .checkbox-text{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
accent-color: #4070f4;
margin: 0 8px -2px 4px;

}

.forms a.text{
    color: #4070f4;
    text-decoration: none;
}

.forms a:hover{
    text-decoration: underline;
}

.forms .text{
    color: #333;
    font-size: 14px;
}

.forms .button{
    margin-top: 35px;
}

.forms .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.forms .login-signup{
    margin-top: 30px;
    text-align: center;
}

.gender{
    padding-top: 20px;
    color: rgb(46, 45, 45);
    font-size: 20px;
}


.dob{
    padding-top: 20px;
    color: rgb(46, 45, 45);
    position: relative;
    font-size: 20px;
}


.fcolor{
    padding-top: 20px;
    color: rgb(46, 45, 45);
    position: relative;
    font-size: 20px;
}
