*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
   
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 10px 10px 60px 0px;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    
}

h2 {
    color: hsl(0, 0%, 95%);
    padding: 20px 10px 10px 0px;
    font-family: Big Shoulders Display;
    font-weight: 700;
    font-size: 38px;
    
}

button{
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

button:hover{
    border-color: aquamarine;
    color: aquamarine;
}




.main_div{
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}



.div_1{
    background-color: hsl(31, 77%, 52%);
    width: 18%;
    padding: 40px 16px 40px 40px;
    border-radius: 5px 0px 0px 5px;
}

.div_2{
    background-color:hsl(184, 100%, 22%);
    width: 18%;
    padding: 40px 16px 40px 40px;
}

.div_3{
    background-color: hsl(179, 100%, 13%);
    width: 18%;
    padding: 40px 16px 40px 40px;
    border-radius: 0px 5px 5px 0px;
}